* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #eee;
}
.container {
  width: 92vw;
  height: 92vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.main {
  width: 60vw;
  height: 60vw;
  margin: 0 auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(6,1fr);
  border: 3px solid;
}
.fivepiece{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
  border: 0.1px solid #444;
  border-collapse: collapse;
}
.piece {
  border-collapse: collapse;
  background-color: #555;
  border: 0.1px dotted rgba(5, 5, 0, 0.7);
}

.piece.active{
  background-color: #fff;
}